/alumnos copy.json
/alumnos.json
/CLASE 2-SEMANA 2.py
/CLASE 3-SEMANA 4.py
/data.json
/EJERCICIO 2 - CLASE 2.py
/estudiantes.json
/JSON.py
/listas1.py
/listas2-copy.py
/listas2-eliminar palabra.py
/listas2.py
/nuevos_alumnos.json
/pg web
/RETO 1.py
/RETO 2.py
/RETO 3.py
/RETO 4.5.py
/RETO 4.py
/RETO 5.py
/SEMANA 6.py
/test.py
/test2.py
/x=4.py
/y
/y.json